numpy
Flask
langchain-community
langchain
langchain-core
langchain-openai
faiss-cpu
tiktoken
unstructured
unstructured[pdf]
boto3
slack
slackeventsapi
elasticsearch
requests_aws4auth
elasticsearch==7.13.4
flask_cors
nltk